{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Blog</h1>

    {% block page_contents %}
    <h1>Your lucky number is {{ number }}</h1>
    {% endblock %}
    
{% endblock %}


