{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <h1>Manga</h1>

    {% block page_contents %}
    
        {{ form(form) }}
</div>
    {% endblock %}
    
{% endblock %}


