{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
 <div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Manga list</h1>
                    <a class="btn btn-success" href="{{ path('app_manga_form') }}">Add a manga</a>
                </div>
                {% block page_contents %}
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for idvManga in manga %}
                            <tr>
                                <td>{{ idvManga.title }}</td>
                                <td><a class="btn btn-warning" href="{{ path('app_manga_edit', {id: idvManga.id}) }}"> Edit </a></td>
                                <td><a class="btn btn-danger" href="{{ path('app_manga_delete', {id: idvManga.id}) }}"> Delete </a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
    
{% endblock %}


